.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #accaca;
    padding: 10px 0;
    text-align: center;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    transform: translateY(0);
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
}



.footer .container {
    display: flex;
    justify-content: center;
}

.footer span {
    color: #666;
    font-size: 1rem;
}