
body {
    background: #043927 !important; 
    color: white;
  }
.form-wrapper {
    background: linear-gradient(
        rgba(6, 94, 64, 0.85), 
        rgba(6, 95, 95, 0.85)
      ),
      url('/assets/images/campfire.jpg'); 
    background-size: cover;
    background-position: center;
    color: #f8f9fa;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
  }
  
  .form-header h1 {
    font-family: "Cinzel", serif;
    font-size: 2.5rem;
    color: #ffffff;
  }
  
  .form-header p {
    color: #e5e5e5 !important;
    font-size: 1.1rem;
  }
  
  .form-label {
    font-size: 1rem;
    font-weight: bold;
    color: #d6efef;
  }
  
  .form-control {
    border-radius: 8px;
    border: none;
    padding: 10px;
    font-size: 1rem;
    background-color: rgba(216, 236, 213, 0.9);
    color: #495057;
  }
  
  .form-control:focus {
    outline: none;
    box-shadow: 0px 0px 8px rgba(40, 167, 69, 0.5);
  }
  
  .input-group-text {
    background: #28a745;
    color: white;
    font-size: 1rem;
    border: none;
  }
  
  .btn-success {
    background: #28a745;
    border: none;
    border-radius: 8px;
    font-size: 1.1rem;
    padding: 12px 30px;
    text-transform: uppercase;
  }
  
  .btn-success:hover {
    background: #183b20;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  }
  
  .btn-secondary {
    background: #6c757d;
    border: none;
    border-radius: 8px;
    font-size: 1.1rem;
    padding: 12px 30px;
    text-transform: uppercase;
  }
  
  .btn-secondary:hover {
    background: #5a6268;
  }
  
  .form-error {
    font-size: 0.9rem;
    color: #f8d7da;
  }
  
  @media (max-width: 768px) {
    .form-wrapper {
      padding: 30px;
    }
  
    .form-header h1 {
      font-size: 2rem;
    }
  
    .btn {
      font-size: 1rem;
      padding: 10px 20px;
    }
  }
  