.flash-message {
    position: sticky;
    top: 10px;
    background-color: #86c9db;
    color: white;
    padding: 20px;
    margin-bottom: 15px;
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
    width: 60%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    font-size: 1.1rem; 
    margin-top: 15px;
    z-index: 1000; 
  }
  
  
  .flash-message button {
    font-size: 0.9rem;
    padding: 8px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .flash-message button:hover {
    opacity: 0.9;}